@{
    ViewData["Title"] = "Joel Hilton Film Collection";
    ViewData["Header"] = "The Joel Hilton Film Collection";
}

<p>This website contains a carefully curated database of movies by THE Joel Hilton.</p>

<img src="~/img/Joel_Hilton.jpg" height="300"/>