@{
    ViewData["Title"] = "My Podcasts";
    ViewData["Header"] = "My Podcasts";
}
<h3>Check out our super cool podcast for more movie info!</h3>
<a href="https://baconsale.com/">Baconsale Podcast</a>